@import url("https://fonts.googleapis.com/css?family=Roboto:700,400|Open+Sans:400,700|Raleway:500,600");
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: sans-serif;

  background: linear-gradient(73.56deg, #F3EFF6 26.6%, #F6EFFC 37.44%, #E7CEFD 59.47%);
}
a:hover {
    text-decoration: none;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 15vh;
    background-color: rgba(231, 206, 253, 0.9);
    justify-content: space-between;
    align-items: center;
    padding: 3.5vh;
    z-index: 999;
    transition: background-color 0.3s ease;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    margin-top: 8%;
    height: 45vh;
    max-width: 48vh;
  }

  nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-left: 1%;
  }

  nav a {
    margin-left: 10vh;
    color: #7927c5;
    white-space: nowrap;
  }

  nav a:hover {
    border-bottom: 2px solid #7927c5;
  }

  nav a.active {
    border-bottom: 2px solid #7927c5;
  }

h1 {
  font-size: 38px;
  font-family: sans-serif;
  text-align: center;
  padding-top: 35px;
  padding: 14px;
}

form {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

label {
  display: flex;
  font-size: 18px;
  margin-bottom: 10px;
}

input, textarea {
  width: 375px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 16px;
  height: 50px;
}

input[type="submit"] {
  font-family: sans-serif;
  background-color: #a579c1;
  color: white;
  padding: 10px 20px;
  margin-top: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.listaAgendamento{
  font-family: sans-serif;
  background-color: #a579c1;
  color: white;
  padding: 10px 20px;
  margin-top: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;}

input[type="submit"]:hover {
  background-color: #a579c1;
}

select{
  width: 375px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 16px;
  height: 50px;

}


.rodape{
  background-color: #a579c1;
  color: white;
  height: 20%;
  width: 100%;
  font-size: 2vh;
  font-family: helvetica;
}
.rodape a{
  text-decoration: none;
  color: white;
}
.rodape p{
  margin-bottom: 1vh;
}
.rodape-div{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: stretch;
  padding: 6vh 1vh 4vh 1vh;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
  display: flex;
  width: calc(100% / 4 - 20px);
  padding: 1vh;
  margin-top: -6vh;
  margin-left: 19vh;
}
.rodape span{
  font-size: 2vh;
  color: white;
}
.rodape-direitos{
  width: calc(100% - 20px);
  background-color: black;
  padding: 1vh;
  margin-top: -3vh;
  width: 100%;
  text-align: center;
}